In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
from scipy.stats import norm
from scipy.optimize import brentq
from scipy.optimize import least_squares

In [2]:
swaption = pd.read_excel('IR Data.xlsx', sheet_name='Swaption')
swaption = swaption[1:]
swaption.columns = swaption.iloc[0]
swaption = swaption[1:]
swaption.iloc[:, 2:] = swaption.iloc[:, 2:] / 100
swaption

1,Expiry,Tenor,-200bps,-150bps,-100bps,-50bps,-25bps,ATM,+25bps,+50bps,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1Y,1Y,0.9157,0.6203,0.4413,0.31224,0.26182,0.225,0.2096,0.214,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1Y,2Y,0.8327,0.6124,0.4657,0.35807,0.31712,0.2872,0.2712,0.2684,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1Y,3Y,0.7392,0.5687,0.4477,0.35745,0.32317,0.2978,0.2829,0.278,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1Y,5Y,0.5519,0.4464,0.3651,0.30242,0.27851,0.2607,0.2498,0.2456,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1Y,10Y,0.4118,0.3504,0.30207,0.26619,0.25351,0.2447,0.2398,0.2382,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,5Y,1Y,0.678,0.4909,0.384,0.31485,0.2906,0.2726,0.2604,0.2532,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,5Y,2Y,0.5788,0.4641,0.39033,0.33653,0.31531,0.2983,0.2856,0.2765,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,5Y,3Y,0.5343,0.4444,0.3818,0.33437,0.31536,0.2998,0.2876,0.2782,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,5Y,5Y,0.4199,0.36524,0.32326,0.29005,0.27677,0.266,0.2573,0.2502,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,5Y,10Y,0.34417,0.30948,0.28148,0.25954,0.25136,0.2451,0.2399,0.2356,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,10Y,1Y,0.5516,0.4432,0.37368,0.32259,0.3021,0.2854,0.2731,0.2645,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,10Y,2Y,0.5117,0.429,0.37078,0.32622,0.308,0.2928,0.2809,0.272,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,10Y,3Y,0.4822,0.4143,0.364,0.32439,0.30796,0.294,0.2827,0.2738,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,10Y,5Y,0.4055,0.35891,0.32181,0.29144,0.27857,0.2674,0.258,0.2502,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,10Y,10Y,0.33601,0.30509,0.27978,0.25926,0.25086,0.2437,0.2376,0.2324,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#swaption['Expiry'] = swaption['Expiry'].apply(lambda x: int(x.strip()[:-1]))
#swaption['Tenor'] = swaption['Tenor'].apply(lambda x: int(x.strip()[:-1]))

swaption.set_index(['Expiry', 'Tenor'], inplace=True)
swaption

1             -200bps  -150bps  -100bps   -50bps   -25bps     ATM  +25bps  \
Expiry Tenor
1Y     1Y      0.9157   0.6203   0.4413  0.31224  0.26182   0.225  0.2096
       2Y      0.8327   0.6124   0.4657  0.35807  0.31712  0.2872  0.2712
       3Y      0.7392   0.5687   0.4477  0.35745  0.32317  0.2978  0.2829
       5Y      0.5519   0.4464   0.3651  0.30242  0.27851  0.2607  0.2498
       10Y     0.4118   0.3504  0.30207  0.26619  0.25351  0.2447  0.2398
5Y     1Y       0.678   0.4909    0.384  0.31485   0.2906  0.2726  0.2604
       2Y      0.5788   0.4641  0.39033  0.33653  0.31531  0.2983  0.2856
       3Y      0.5343   0.4444   0.3818  0.33437  0.31536  0.2998  0.2876
       5Y      0.4199  0.36524  0.32326  0.29005  0.27677   0.266  0.2573
       10Y    0.34417  0.30948  0.28148  0.25954  0.25136  0.2451  0.2399
10Y    1Y      0.5516   0.4432  0.37368  0.32259   0.3021  0.2854  0.2731
       2Y      0.5117    0.429  0.37078  0.32622    0.308  0.2928  0.2809
       3Y      0.4822   0.4143    0.364  0.32439  0.30796   0.294  0.2827
       5Y      0.4055  0.35891  0.32181  0.29144  0.27857  0.2674   0.258
       10Y    0.33601  0.30509  0.27978  0.25926  0.25086  0.2437  0.2376

1             +50bps +100bps  +150bps  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  \
Expiry Tenor                           ...
1Y     1Y      0.214  0.2434  0.27488  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN
       2Y     0.2684  0.2851  0.31025  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN
       3Y      0.278  0.2877  0.30725  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN
       5Y     0.2456  0.2512  0.26536  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN
       10Y    0.2382  0.2425  0.25204  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN
5Y     1Y     0.2532  0.2494   0.2532  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN
       2Y     0.2765  0.2671   0.2654  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN
       3Y     0.2782  0.2667    0.262  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN
       5Y     0.2502  0.2406   0.2357  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN
       10Y    0.2356  0.2291   0.2249  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN
10Y    1Y     0.2645  0.2561   0.2552  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN
       2Y      0.272  0.2612   0.2572  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN
       3Y     0.2738  0.2618   0.2558  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN
       5Y     0.2502  0.2387   0.2317  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN
       10Y    0.2324  0.2244    0.219  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN

1             NaN  NaN  NaN
Expiry Tenor
1Y     1Y     NaN  NaN  NaN
       2Y     NaN  NaN  NaN
       3Y     NaN  NaN  NaN
       5Y     NaN  NaN  NaN
       10Y    NaN  NaN  NaN
5Y     1Y     NaN  NaN  NaN
       2Y     NaN  NaN  NaN
       3Y     NaN  NaN  NaN
       5Y     NaN  NaN  NaN
       10Y    NaN  NaN  NaN
10Y    1Y     NaN  NaN  NaN
       2Y     NaN  NaN  NaN
       3Y     NaN  NaN  NaN
       5Y     NaN  NaN  NaN
       10Y    NaN  NaN  NaN

[15 rows x 23 columns]

In [4]:
bps = np.array([0 if i == 5 else float(swaption.columns[i][0:-3]) / 10000
       for i in range(0, len(swaption.columns))])
bps

IndexError: invalid index to scalar variable.

In [6]:
oisirs_data1 = pd.read_csv('oisirs_data1.csv')
oisirs_data1 = oisirs_data1.drop(oisirs_data1.columns[0], axis=1)
oisirs_data1 = oisirs_data1.set_index(oisirs_data1.columns[0])
oisirs_data1

,Product_x,OIS Rate,OIS Forward Rate,OIS Discount Factor,Product_y,IRS Rate,IRS Forward Rate,IRS Discount Factor
Tenor,,,,,,,,
0.5,OIS,0.00250,0.002498,0.998752,LIBOR,0.0250,0.025000,0.987654
1.0,OIS,0.00300,0.002995,0.996520,IRS,0.0280,0.031007,0.972576
2.0,OIS,0.00325,0.003495,0.993043,IRS,0.0300,0.032264,0.942178
3.0,OIS,0.00335,0.003545,0.989529,IRS,0.0315,0.034814,0.910480
4.0,OIS,0.00350,0.003946,0.985633,IRS,0.0325,0.035838,0.878979
5.0,OIS,0.00360,0.003996,0.981702,IRS,0.0330,0.035326,0.848988
7.0,OIS,0.00400,0.005015,0.971928,IRS,0.0350,0.041298,0.784214
10.0,OIS,0.00450,0.005712,0.955508,IRS,0.0370,0.044033,0.692708
15.0,OIS,0.00500,0.006097,0.927156,IRS,0.0400,0.051401,0.551079
20.0,OIS,0.00525,0.006100,0.899634,IRS,0.0450,0.069994,0.408216
30.0,OIS,0.00550,0.006196,0.846991,IRS,0.0500,0.082515,0.223661

In [7]:
oisirs_data1['OIS Discount Factor']

Tenor
0.5     0.998752
1.0     0.996520
2.0     0.993043
3.0     0.989529
4.0     0.985633
5.0     0.981702
7.0     0.971928
10.0    0.955508
15.0    0.927156
20.0    0.899634
30.0    0.846991
Name: OIS Discount Factor, dtype: float64

In [8]:
oisirs_data1['IRS Discount Factor']

Tenor
0.5     0.987654
1.0     0.972576
2.0     0.942178
3.0     0.910480
4.0     0.878979
5.0     0.848988
7.0     0.784214
10.0    0.692708
15.0    0.551079
20.0    0.408216
30.0    0.223661
Name: IRS Discount Factor, dtype: float64

In [9]:
par_swap_rate = pd.read_csv('par_swap_rate.csv',index_col=0)

In [10]:
par_swap_rate

           1Y        2Y        3Y        5Y       10Y
1Y   0.032007  0.033260  0.034011  0.035256  0.038428
5Y   0.039274  0.040075  0.040072  0.041093  0.043634
10Y  0.042189  0.043116  0.044097  0.046249  0.053458

### Calibrate the displaced-diffusion model to the swaption market data, and document

In [11]:
def Black76Call(F,K,PVBP,sigma,T):
    d1 = (np.log(F/K) + 0.5*(sigma**2)*T) / (sigma * np.sqrt(T))
    d2 = d1 - sigma*np.sqrt(T)
    return PVBP * (F*norm.cdf(d1) - K*norm.cdf(d2))

def Black76Put(F,K,PVBP,sigma,T):
    d1 = (np.log(F/K) + 0.5*(sigma**2)*T) / (sigma * np.sqrt(T))
    d2 = d1 - sigma*np.sqrt(T)
    return PVBP * (K*norm.cdf(-d2) - F*norm.cdf(-d1))


def DisplacedDiffusionCall(F, K, PVBP, sigma, T, beta):
    F_1 = F/beta
    K = K + (1-beta)/beta * F
    sigma_1 = sigma * beta
    d1 = (np.log(F_1/K) + (0.5 * sigma_1**2 * T)) / (sigma_1 * np.sqrt(T))
    d2 = d1 - sigma_1*np.sqrt(T)
    return PVBP * (F_1 * norm.cdf(d1) - K * norm.cdf(d2))

def DisplacedDiffusionPut(F, K, PVBP, sigma, T, beta):
    F_1 = F/beta
    K = K + (1-beta)/beta * F
    sigma_1 = sigma * beta
    d1 = (np.log(F_1/K) + (0.5 * sigma_1**2 * T)) / (sigma_1 * np.sqrt(T))
    d2 = d1 - sigma_1*np.sqrt(T)
    return PVBP * (K * norm.cdf(-d2) - F_1 * norm.cdf(-d1))
                   
                   
def DisplacedDiffusion(F,K,PVBP,sigma,T,beta):
    if F <= K:
        price =  DisplacedDiffusionCall(F, K, PVBP, sigma, T, beta) #payoff of a payer swaption
    elif F > K:
        price =  DisplacedDiffusionPut(F, K, PVBP, sigma, T, beta) #payoff of a receiver swaption
    return price

def ImpVol(F, K, PVBP, T, sigma, beta):
    if F <= K:
        price = DisplacedDiffusionCall(F,K,PVBP,sigma, T, beta)
        iv = brentq(lambda sigma: price - Black76Call(F, K, PVBP, sigma, T),
                                 1e-12,10)
        
    elif F > K:
        price = DisplacedDiffusionPut(F,K,PVBP,sigma,T,beta)
        iv = brentq(lambda sigma: price - Black76Put(F, K, PVBP, sigma, T),
                                 1e-12,10)
    return iv 

def Calibration(beta,strikes,vols,F,T,pvbp):
    error=0.0
    sigma = vols[5]
    for i,vol in enumerate(vols):
        error += (vol - ImpVol(F,strikes[i],PVBP,T,sigma,beta))**2
    
    return error

In [40]:
Expiry=['1Y','5Y','10Y']
Tenor=['1Y','2Y','3Y','5Y','10Y']

Beta=pd.DataFrame(np.zeros((3,5)),index=Expiry,columns=Tenor)
Sigma=pd.DataFrame(np.zeros((3,5)),index=Expiry,columns=Tenor)

In [41]:
initialGuess = [0.3]

for e in Expiry:
    for t in Tenor:
        F = par_swap_rate[t][e]
        mkt_vol = swaption.loc[(e,t),:].values
        strikes = F+bps
        
        e_int = int(e.strip()[:-1])
        t_int = int(t.strip()[:-1])
        PVBP = 0.5*sum(oisirs_data1['OIS Discount Factor'][2*e_int:(e_int+t_int)*2])
        
        res_dd = least_squares(lambda x: Calibration(x, strikes, 
                                                    mkt_vol, F, e_int,  PVBP), initialGuess,
                                                    bounds=([0,1]))
        Beta[t][e]= res_dd.x
        Sigma[t][e]= mkt_vol[5]

In [42]:
Beta

               1Y            2Y            3Y        5Y       10Y
1Y   1.008704e-07  3.399424e-13  9.997318e-12  0.000003  0.000007
5Y   1.291427e-11  5.502233e-08  2.276838e-06  0.000143  0.055462
10Y  1.395219e-07  7.489010e-06  8.154432e-05  0.000001  0.001745

In [43]:
Sigma

         1Y      2Y      3Y      5Y     10Y
1Y   0.2250  0.2872  0.2978  0.2607  0.2447
5Y   0.2726  0.2983  0.2998  0.2660  0.2451
10Y  0.2854  0.2928  0.2940  0.2674  0.2437

### SABR Calibration

In [16]:
def SABR(F, K, T, alpha, beta, rho, nu):
    X = K
    # if K is at-the-money-forward
    if abs(F - K) < 1e-12:
        numer1 = (((1 - beta)**2)/24)*alpha*alpha/(F**(2 - 2*beta))
        numer2 = 0.25*rho*beta*nu*alpha/(F**(1 - beta))
        numer3 = ((2 - 3*rho*rho)/24)*nu*nu
        VolAtm = alpha*(1 + (numer1 + numer2 + numer3)*T)/(F**(1-beta))
        sabrsigma = VolAtm
    else:
        z = (nu/alpha)*((F*X)**(0.5*(1-beta)))*np.log(F/X)
        zhi = np.log((((1 - 2*rho*z + z*z)**0.5) + z - rho)/(1 - rho))
        numer1 = (((1 - beta)**2)/24)*((alpha*alpha)/((F*X)**(1 - beta)))
        numer2 = 0.25*rho*beta*nu*alpha/((F*X)**((1 - beta)/2))
        numer3 = ((2 - 3*rho*rho)/24)*nu*nu
        numer = alpha*(1 + (numer1 + numer2 + numer3)*T)*z
        denom1 = ((1 - beta)**2/24)*(np.log(F/X))**2
        denom2 = (((1 - beta)**4)/1920)*((np.log(F/X))**4)
        denom = ((F*X)**((1 - beta)/2))*(1 + denom1 + denom2)*zhi
        sabrsigma = numer/denom

    return sabrsigma

In [34]:
beta = 0.9

def sabrcalibration(x, strikes, vols, F, T):
    err = 0.0
    for i, vol in enumerate(vols):
        err += (vol - SABR(F, strikes[i], T,
                           x[0], beta, x[1], x[2]))**2

    return err

In [35]:
Alpha=pd.DataFrame(np.zeros((3,5)),index=Expiry,columns=Tenor)
Rho=pd.DataFrame(np.zeros((3,5)),index=Expiry,columns=Tenor)
Nu=pd.DataFrame(np.zeros((3,5)),index=Expiry,columns=Tenor)

In [36]:
initialGuess_SABR = [0.02, 0.2, 0.1]

for e in Expiry:
    for t in Tenor:             
        F = par_swap_rate[t][e]
        mkt_vol = swaption.loc[(e,t),:].values
        strikes = F+bps
    
        T=int(e[:-1])
        res=least_squares(lambda x: sabrcalibration(x,
                                           strikes,
                                           mkt_vol,
                                           F,
                                           T),
                          initialGuess_SABR,
                          bounds=([0,-1,0],[np.inf,1,np.inf]))
        Alpha[t][e]=res.x[0]
        Rho[t][e]=res.x[1]
        Nu[t][e]=res.x[2]

In [37]:
Alpha

           1Y        2Y        3Y        5Y       10Y
1Y   0.139069  0.184650  0.196850  0.178054  0.171205
5Y   0.166317  0.198439  0.208343  0.188015  0.170869
10Y  0.172544  0.191425  0.197397  0.182075  0.162613

In [38]:
Rho

           1Y        2Y        3Y        5Y       10Y
1Y  -0.633235 -0.525119 -0.482849 -0.414424 -0.265349
5Y  -0.584098 -0.542106 -0.541763 -0.492551 -0.372221
10Y -0.526228 -0.532266 -0.522322 -0.492470 -0.404708

In [39]:
Nu

           1Y        2Y        3Y        5Y       10Y
1Y   2.049541  1.677417  1.438153  1.064895  0.776834
5Y   1.337963  1.058599  0.934365  0.680473  0.532554
10Y  0.986820  0.913986  0.847425  0.705157  0.600985

### Price the following swaptions using the calibrated displaced-diffusion and SABR model

#### 1. payer 2y × 10y K = 1%, 2%, 3%, 4%, 5%, 6%, 7%, 8%

In [46]:
def interpolate(value1,value2,expiry1,expiry2,expiry):
    value = value1 + (value2-value1)*(expiry-expiry1)/(expiry2-expiry1)
    return value

In [49]:
#DD
sigma = interpolate(Sigma['10Y']['1Y'],Sigma['10Y']['5Y'],1,5,2)
beta = interpolate(Beta['10Y']['1Y'],Beta['10Y']['5Y'],1,5,2)
#SABR
alpha = interpolate(Alpha['10Y']['1Y'],Alpha['10Y']['5Y'],1,5,2)
rho = interpolate(Rho['10Y']['1Y'],Rho['10Y']['5Y'],1,5,2)
nu = interpolate(Nu['10Y']['1Y'],Nu['10Y']['5Y'],1,5,2)

In [94]:
oisirs_data1

,Product_x,OIS Rate,OIS Forward Rate,OIS Discount Factor,Product_y,IRS Rate,IRS Forward Rate,IRS Discount Factor
Tenor,,,,,,,,
0.5,OIS,0.00250,0.002498,0.998752,LIBOR,0.0250,0.025000,0.987654
1.0,OIS,0.00300,0.002995,0.996520,IRS,0.0280,0.031007,0.972576
2.0,OIS,0.00325,0.003495,0.993043,IRS,0.0300,0.032264,0.942178
3.0,OIS,0.00335,0.003545,0.989529,IRS,0.0315,0.034814,0.910480
4.0,OIS,0.00350,0.003946,0.985633,IRS,0.0325,0.035838,0.878979
5.0,OIS,0.00360,0.003996,0.981702,IRS,0.0330,0.035326,0.848988
7.0,OIS,0.00400,0.005015,0.971928,IRS,0.0350,0.041298,0.784214
10.0,OIS,0.00450,0.005712,0.955508,IRS,0.0370,0.044033,0.692708
15.0,OIS,0.00500,0.006097,0.927156,IRS,0.0400,0.051401,0.551079
20.0,OIS,0.00525,0.006100,0.899634,IRS,0.0450,0.069994,0.408216
30.0,OIS,0.00550,0.006196,0.846991,IRS,0.0500,0.082515,0.223661

In [106]:
D2 = 0.942178
D10 = 0.692708
#PVBP_payer = 0.5 * sum(oisirs_data1['IRS Discount Factor'][2+1:(2+10)])
PVBP_payer = 0.5 * (0.926330+0.910482+0.894731+0.878981+0.863985+0.848989+0.832796+	0.816603+0.800409+0.784216+0.768965+0.753714+0.738463+0.723212+0.707961+0.692710)
F = (D2-D10)/PVBP_payer
F

0.03855037188584287

In [118]:
strikes=np.arange(0.01,0.081,0.01)
#PVBP = 0.5 * sum(oisirs_data1['OIS Discount Factor'][2+1:(2+10)])
PVBP = 0.5*(0.991773+0.990015+0.988066+0.986117+0.984150+0.982184+0.979740+0.977295+0.974850+0.972406+0.969668+0.966929+0.964191+0.961453+0.958715+0.955977)
T = 2

payer_DD = [DisplacedDiffusionCall(F,i,PVBP,sigma,T,beta) for i in strikes]

In [119]:
payer_DD

[0.22332581015990835,
 0.14857631429105164,
 0.08308591724544061,
 0.036139872943980425,
 0.01134813188508651,
 0.0024235606824697066,
 0.0003375439339312314,
 2.9829509733185974e-05]

In [120]:
payer_SABR=[Black76Call(F,i,PVBP,SABR(F,i,T,alpha,0.9,rho,nu),T) for i in strikes]
payer_SABR

[0.22453957355119986,
 0.15126214239716193,
 0.08506966218345119,
 0.036777453986669005,
 0.015149906267610572,
 0.007925501712198652,
 0.005054621812285101,
 0.003632769436865271]

In [121]:
payer = pd.DataFrame({'Strikes':strikes, 'Displaced Diffusion':payer_DD,
                     'SABR': payer_SABR})
payer

   Strikes  Displaced Diffusion      SABR
0     0.01             0.223326  0.224540
1     0.02             0.148576  0.151262
2     0.03             0.083086  0.085070
3     0.04             0.036140  0.036777
4     0.05             0.011348  0.015150
5     0.06             0.002424  0.007926
6     0.07             0.000338  0.005055
7     0.08             0.000030  0.003633

#### receiver 8y × 10y K = 1%, 2%, 3%, 4%, 5%, 6%, 7%, 8%

In [122]:
#DD
sigma1 = interpolate(Sigma['10Y']['5Y'],Sigma['10Y']['10Y'],5,10,8)
beta1 = interpolate(Beta['10Y']['5Y'],Beta['10Y']['10Y'],5,10,8)
#SABR
alpha1 = interpolate(Alpha['10Y']['5Y'],Alpha['10Y']['10Y'],5,10,8)
rho1 = interpolate(Rho['10Y']['5Y'],Rho['10Y']['10Y'],5,10,8)
nu1 = interpolate(Nu['10Y']['5Y'],Nu['10Y']['10Y'],5,10,8)

In [125]:
D8 = 0.863985
D10 = 0.692708
#PVBP_payer = 0.5 * sum(oisirs_data1['IRS Discount Factor'][2+1:(2+10)])
PVBP1 = 0.5 * (0.738463+0.723212+0.707961+0.692710)
F1 = (D8-D10)/PVBP1
F1

0.119675958112681

In [132]:
strikes=np.arange(0.01,0.081,0.01)
PVBP2 = 0.5 * (0.964191+0.961453+0.958715+0.955977)
T = 8

receiver_DD = [DisplacedDiffusionPut(F1,i,PVBP,sigma1,T,beta1) for i in strikes]

In [133]:
receiver_DD

[0.026620829377892213,
 0.034578535013153895,
 0.04438476733902433,
 0.05631536941403517,
 0.07065010946668893,
 0.0876643421515359,
 0.1076199360740053,
 0.13075595550087502]

In [136]:
receiver_SABR=[Black76Put(F,i,PVBP,SABR(F,i,T,alpha1,0.9,rho1,nu1),T) for i in strikes]

In [137]:
receiver_SABR

[0.017672650683993867,
 0.03186133006305364,
 0.045574918490789866,
 0.05943803377991028,
 0.0738376911760779,
 0.08912609691658757,
 0.10569953275813151,
 0.12405749333082988]

In [138]:
receiver = pd.DataFrame({'Strikes':strikes, 'Displaced Diffusion':receiver_DD,
                     'SABR': receiver_SABR})
receiver

   Strikes  Displaced Diffusion      SABR
0     0.01             0.026621  0.017673
1     0.02             0.034579  0.031861
2     0.03             0.044385  0.045575
3     0.04             0.056315  0.059438
4     0.05             0.070650  0.073838
5     0.06             0.087664  0.089126
6     0.07             0.107620  0.105700
7     0.08             0.130756  0.124057